.border-right{
    padding-right:20px; 
    border-right: 1px solid #ccc;
}

.img-square{
    max-width: 290px;
    max-height: 200px;
}

.bottom-buffer{
    margin-bottom: 10px;
}

.top-buffer-lg{
    margin-top: 50px;
}